{% from "showlinks.html" import show_links with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'home.css')}}"
    />
  </head>
  <body>
    <div class="parent">
      <div class="header mb-2">{{ show_links(user) }}</div>

      <div class="questions_answered container text-light p-3">
        <h1>Questions Answered.</h1>
        <hr class="text-light" />

        <div class="border p-2">
          {% for eachone in fetching_all  %}
          <a href="" class="text-light list-group-item">
            <h4 class="list-group-item-heading">{{ eachone['question_text'] }}</h4>
            <p class="list-group-item-heading-text">Answer : {{ eachone['answer_text'] }}</p>
            <p class="list-group-item-heading-text">Asked By : {{ eachone['askersname'] }}</p>
            <p class="list-group-item-heading-text">Answered By : {{ eachone['answeredby'] }}</p>
            
          </a>
          {% endfor %}
          <hr />
        </div>

      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
