{% from "showlinks.html" import show_links with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unanswered Questions</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'home.css')}}"
    />
  </head>
  <body>
    <div class="parent">
      <div class="header mb-2">{{ show_links(user) }}</div>

      <div class="questions_answered container text-light p-3">
        <h1>All Unanswered Question.</h1>

        <hr class="text-light" />
           <div class="row">
                <div class="col-lg-12">
                    <div class="list-group">
                      {% for question in allquestions %}  
                        <a href="{{ url_for('answerquestions', question_id = question['id']) }}" class="list-group-item question-link">
                            <h6 class="list-group-item-heading">{{ question['question_text'] }}</h6> <!-- the question_text is gotten from the backend since we need to display the questions stored there  -->
                            <small class="list-group-item-text">Asked by : {{ question['name'] }}</small> <!-- also the asked_by_id is from the backend -->
                        </a>
                      {% endfor %}
                    </div>

                </div>
           </div> 
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
